.ContactContainer {
	display: flex;
	position: relative;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	@media screen and (min-width: 360px) and (max-width: 765px) {
		justify-content: center;
	}
}

.Contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-height: 80vh;
	margin: 5vh auto;
	z-index: 4;
	backdrop-filter: blur(7px);
	-webkit-backdrop-filter: blur(7px);
	form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-width: 30vw;
		min-height: 80vh;
		margin: 0 2rem;
		h1 {
			font-size: 4rem;
			color: $altText;
			text-shadow: 2px -2px 6px hsla(0, 0%, 0%, 0.5);
		}
		div {
			display: flex;
			border-radius: 10px;
			background-color: hsla(200, 23%, 97%, 0.5);
			margin: 0.45rem 0;
			padding: 0.5rem;
			svg {
				margin: 2.5rem 0.15rem 0 0.5rem;
			}
		}
		button {
			display: flex;
			font-size: 2rem;
			justify-content: center;
			color: $altText;
			align-items: center;
			min-width: 12rem;
			margin: 0.5rem 0 1rem;
			padding: 1rem 2rem;
			border: none;
			border-radius: 7px;
			background: hsl(199, 100%, 62%);
			box-shadow: inset 20px 20px 60px hsl(199, 68%, 53%),
				inset -20px -20px 60px hsl(190, 100%, 64%);
			transition: background ease 0.75s, box-shadow ease 0.75s;
			svg {
				padding-left: 10px;
			}
		}
		button:hover {
			background-color: hsl(199, 100%, 40%);
			box-shadow: inset 20px 20px 60px hsl(199, 68%, 43%),
				inset -20px -20px 60px hsl(190, 100%, 44%);
			cursor: pointer;
		}
	}
	@media screen and (min-width: 360px) and (max-width: 765px) {
		margin: 10vh auto 0;
		form {
			h1 {
				margin: 1rem 0;
				font-size: clamp(2rem, 1vw, 3rem);
			}
			svg {
				display: none;
			}
		}
	}
}

.FormInput {
	display: flex;
	position: relative;
	flex-direction: column;
	label {
		font-size: clamp(1rem, 2vw, 1.25rem);
		user-select: none;
	}
	input {
		font-size: clamp(1rem, 2vw, 1.25rem);
		border: none;
		border-bottom: 2px solid black;
		min-width: 30rem;
		padding: 0.5rem;
		background: none;
	}
	textarea {
		font-size: clamp(1rem, 2vw, 1.25rem);
		resize: none;
		border: none;
		border-bottom: 2px solid black;
		min-width: 30rem;
		min-height: 8rem;
		padding: 0.5rem;
		background: none;
	}
	p {
		position: absolute;
		top: 0px;
		left: 180px;
		margin: 0.5rem 0;
		font-size: 1.5rem;
		color: $error;
	}
	@media screen and (min-width: 360px) and (max-width: 765px) {
		input,
		textarea {
			min-width: 70vw;
		}
	}
}

.Message {
    min-height: 55vh;
	min-width: auto;
	img {
		transition: fade 1s ease;
	}
	p {
		margin: 2rem 0 4rem;
		font-size: 2.5rem;
	}

	@keyframes fade {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
}