$primary: hsl(203, 100%, 50%);
$neutral: hsl(211, 12%, 43%);
$supporting: hsl(180, 77%, 47%);
$error: hsl(14, 89%, 55%);
$text: hsl(0, 0%, 13%);
$altText: hsl(0, 0%, 100%);
$bubble: hsl(212, 92%, 43%);
$glass: hsla(200, 23%, 97%, 0.5);
$boxShadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
